---
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const url = `https://pbhqptcgtunejfwsunzi.supabase.co/rest/v1/medlemmer`;
  const options = {
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBiaHFwdGNndHVuZWpmd3N1bnppIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg1MjU3NjEsImV4cCI6MTk5NDEwMTc2MX0.qPLnnbV_2nDBjczEpGDt10lr3DQgCZ54roKiy0OZXL4",
    },
  };
  const response = await fetch(url, options);
  const data = await response.json();

  return data.map((person) => ({
    params: { slug: person.slug },
    props: { person },
  }));
}

const { person } = Astro.props;
---

<Layout title={person.navn}>
  <main>
    <h2>{person.navn}</h2>
    <p>{person.email}</p>
    <img src={`../thumbs/${person.billede}`} alt="profilbillede" />
  </main>
</Layout>
