---
import { Debug } from "astro/components";
import Layout from "../layouts/Layout.astro";
import Sektion from "../components/Sektion.astro";

const url = "https://pbhqptcgtunejfwsunzi.supabase.co/rest/v1/medlemmer";

const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBiaHFwdGNndHVuZWpmd3N1bnppIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg1MjU3NjEsImV4cCI6MTk5NDEwMTc2MX0.qPLnnbV_2nDBjczEpGDt10lr3DQgCZ54roKiy0OZXL4",
  },
};

const response = await fetch(url, options);
const allePersoner = await response.json();

const Ateister = allePersoner.filter((person) => person.tro == 1);
const Muslimer = allePersoner.filter((person) => person.tro == 2);
const Kristne = allePersoner.filter((person) => person.tro == 3);
const Andre = allePersoner.filter((person) => person.tro < 1 || person.tro > 3);
---

<Layout title="Medlemmer" side="Medlemmer">
  <nav>
    <button class="aktivknap">Alle</button>
    <button>Ateister</button>
    <button>Muslimer</button>
    <button>Kristne</button>
    <button>Andre</button>
  </nav>
  <main>
    <div class="tro Ateister">
      <h2>Ateister</h2>
      <Sektion indhold={Ateister.slice(0, 3)} />
      <div class="mere hide">
        <Sektion indhold={Ateister.slice(3)} />
      </div>
      <p class="mereknap"><span>vis alle</span></p>
    </div>
    <div class="tro Muslimer">
      <h2>Muslimer</h2>
      <Sektion indhold={Muslimer.slice(0, 3)} />
      <div class="mere hide">
        <Sektion indhold={Muslimer.slice(3)} />
      </div>
      <p class="mereknap"><span>vis alle</span></p>
    </div>
    <div class="tro Kristne">
      <h2>Kristne</h2>
      <Sektion indhold={Kristne.slice(0, 3)} />
      {
        Kristne.slice(3).length > 0 && (
          <>
            <div class="mere hide">
              <Sektion indhold={Kristne.slice(3)} />
            </div>
            <p class="mereknap">
              <span>vis alle</span>
            </p>
          </>
        )
      }
    </div>
    {
      Andre.length > 0 && (
        <div class="tro Andre">
          <h2>Andre</h2>
          <Sektion indhold={Andre.slice(0, 3)} />
        </div>
      )
    }
  </main>
</Layout>
<!-- <Debug {allePersoner} /> -->

<style>
  main {
    padding: 1em;
  }
  .mereknap {
    text-align: center;
    cursor: pointer;
  }
  .mereknap span {
    border-radius: 1em;
    padding: 0.2em 1em;
    color: white;
    background-color: var(--brandbg);
  }
  h2 {
    margin-top: 1.5em;
    border-bottom: 1px solid var(--brandbg);
    color: var(--brandbg);
  }
  .hide {
    display: none;
  }

  .aktivknap {
    color: red;
  }
</style>

<script>
  const knapper = document.querySelectorAll("button");
  const mere = document.querySelectorAll(".mere");
  const mereknapper = document.querySelectorAll(".mereknap");
  const kasser = document.querySelectorAll(".tro");

  knapper.forEach((knap) => {
    knap.addEventListener("click", sorter);
  });

  mereknapper.forEach((knap) => {
    knap.addEventListener("click", vismere);
  });

  function vismere() {
    this.previousElementSibling.classList.toggle("hide");
    this.firstElementChild.textContent = this.previousElementSibling.classList.contains("hide") ? "vis alle" : "vis færre";
  }

  function sorter() {
    document.querySelector(".aktivknap").classList.remove("aktivknap");
    this.classList.add("aktivknap");
    kasser.forEach((kasse) => kasse.classList.add("hide"));
    mere.forEach((kasse) => kasse.classList.add("hide"));
    mereknapper.forEach((knap) => knap.classList.remove("hide"));
    const tro = "." + this.textContent;
    if (this.textContent == "Alle") {
      kasser.forEach((kasse) => kasse.classList.remove("hide"));
    } else {
      document.querySelector(tro).classList.remove("hide");
      document.querySelector(tro + " .mere").classList.remove("hide");
      document.querySelector(tro + " .mereknap").classList.add("hide");
    }
  }
</script>
