---
import { Debug } from "astro/components";
import Layout from "../layouts/Layout.astro";
import Personkort from "../components/Personkort.astro";

const url = "https://pbhqptcgtunejfwsunzi.supabase.co/rest/v1/medlemmer";

const options = {
  headers: {
    apikey:
      "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBiaHFwdGNndHVuZWpmd3N1bnppIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg1MjU3NjEsImV4cCI6MTk5NDEwMTc2MX0.qPLnnbV_2nDBjczEpGDt10lr3DQgCZ54roKiy0OZXL4",
  },
};

const response = await fetch(url, options);
const medlemmer = await response.json();
const ateister = medlemmer.filter((person) => person.tro == 1);
const muslimer = medlemmer.filter((person) => person.tro == 2);
const kristne = medlemmer.filter((person) => person.tro == 3);
const andre = medlemmer.filter((person) => person.tro > 3);
---

<Layout title="Medlmsliste">
  <h1>Medlemmer</h1>
  <main>
    <h2>ateister</h2>
    <section>
      {ateister.map((person) => <Personkort {person} />)}
    </section>
    <h2>muslimer</h2>
    <section>
      {muslimer.map((person) => <Personkort {person} />)}
    </section>
    <h2>kristne</h2>
    <section>
      {kristne.map((person) => <Personkort {person} />)}
    </section>
    {andre.length > 0 && <h2>andre</h2>}
    <section>
      {andre.map((person) => <Personkort {person} />)}
    </section>
  </main>
</Layout>

<style>
  h2 {
    color: var(--brandbg);
    margin-bottom: 3px;
    margin-top: 1em;
    border-bottom: 1px solid var(--brandbg);
  }
  section {
    display: grid;
    gap: 1em;
    padding: 1em;
  }
  @media screen and (min-width: 600px) {
    section {
      grid-template-columns: repeat(auto-fit, 350px);
      justify-content: center;
    }
  }
</style>
