---
const url = "https://pbhqptcgtunejfwsunzi.supabase.co/rest/v1/medlemmer";

const options = {
  headers: {
    apikey:
      "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBiaHFwdGNndHVuZWpmd3N1bnppIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg1MjU3NjEsImV4cCI6MTk5NDEwMTc2MX0.qPLnnbV_2nDBjczEpGDt10lr3DQgCZ54roKiy0OZXL4",
  },
};
const response = await fetch(url, options);
const data = await response.json();
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kategorier">
  <main>
    <ul>
      {
        data.map((item) => {
          return (
            <li>
              <a href={`/categories/${item.navn}`}>{item.navn}</a>
            </li>
          );
        })
      }
    </ul>
  </main>

  <style></style>
</Layout>
