---
// import { Debug } from "astro/components";
import Layout from "../layouts/Layout.astro";
import Sektion from "../components/Sektion.astro";

const url = "https://pbhqptcgtunejfwsunzi.supabase.co/rest/v1/medlemmer";

const options = {
  headers: {
    apikey:
      "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBiaHFwdGNndHVuZWpmd3N1bnppIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg1MjU3NjEsImV4cCI6MTk5NDEwMTc2MX0.qPLnnbV_2nDBjczEpGDt10lr3DQgCZ54roKiy0OZXL4",
  },
};

const response = await fetch(url, options);
const allePersoner = await response.json();

const Ateister = allePersoner.filter((person) => person.tro == 1);
const Muslimer = allePersoner.filter((person) => person.tro == 2);
const Kristne = allePersoner.filter((person) => person.tro == 3);
---

<Layout title="Medlmsliste">
  <main>
    <Sektion indhold={Ateister} filter="Ateister" />
    <Sektion indhold={Muslimer} filter="Muslimer" />
    <Sektion indhold={Kristne} filter="Kristne" />
  </main>
</Layout>

<style>
  main {
    padding: 1em;
  }
</style>
