---
const { profilbillede, navn, email, link, aktiv } = Astro.props;
---

<a href={link}>
  <article class={!aktiv && "inaktiv"}>
    <img src={profilbillede} alt="profilbillede" />
    <div>
      <h2>{navn}</h2>
      <p>{email}</p>
    </div>
  </article>
</a>

<style>
  a {
    text-decoration: none;
    color: inherit;
  }
  article {
    border-radius: 1em;
    overflow: hidden;
    border: solid 1px #aaa;
    color: rgb(0, 79, 128);
  }

  div {
    padding-left: 1em;
  }
  .aktiv {
    background-color: var(--aktiv);
  }
  .inaktiv {
    opacity: 0.4;
    border: dotted 1px #aaa;
    color: black;
  }
</style>
