---
import Personkort from "../components/Personkort.astro";
const { indhold } = Astro.props;
---

<section>
  {
    indhold.map((person) => (
      <Personkort
        aktiv={person.aktiv}
        link={"/personer/" + person.slug}
        profilbillede={`/thumbs/${person.billede}`}
        navn={person.navn}
        email={person.email}
        dato={person.created_at.slice(0, 10)}
      />
    ))
  }
</section>

<style>
  section {
    display: grid;
    gap: 1em;
    margin-bottom: 1em;
  }
  @media screen and (min-width: 600px) {
    section {
      grid-template-columns: repeat(auto-fit, 350px);
      justify-content: center;
    }
  }
</style>
